*{

    font-family: "Raleway", sans-serif;
}

.contact{
  height: 100% ; 
  width: 100%;
  opacity: 1;
  background: linear-gradient(rgb(161 177 109) , rgb(201 153 138) ,rgb(203 165 200) );
    align-items: center;
    justify-content: space-around;
}
.head{
  margin: 5px;
}

.head p {
    color: #190554;
    font-size: 13px;
    font-weight: 500;
    z-index: 5;
}
.comp h4{
  font-size: 19px;
    position: relative;
    top: -20px;
    left: 26px;
    font-weight: 400;
    color: #0d6463;
}
.comp p {
  position: relative;
    top: -26px;
    left: 27px;
}
.ritu{
   
  flex-direction: column;
  display: flex;
  
    margin: 5px;
    
}
/* .heading{
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    color: #085768;;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .head  h1 {
  
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  } */
  /* .head h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #770651;
  }
  .head h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #770651;
  }
  .heading:hover{
    color : rgb(143, 81, 10) ; 
  }
  
  .contact{
      background-size: 400% 400%;
    
  } */
  
  
  .contactCard{
    padding: 10px;
    border-radius: 15px;
   
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form input,
  .form textarea {
    color: #26a775;
    border: 1px solid #062e1f;
    border-radius: 3px;
    background: rgb(1, 12, 15);
    margin: 5px 0;
  }
  
  .form button {
    color: #26a775;
    border: 1px solid #26a775;
    background: rgb(1, 12, 15);
    font-size: 20px;
    font-weight: 500;
    width: 65px;
  
    border-radius: 6px;
    height: 41px;
  }
  .form button:hover {
    background-color: #042829;
    color: #819fa5;
  }
  .social-icon,
  .social-icon a   {
    z-index: 5 ;
    margin: 10px;
    padding: 5px;
   color:  #0d6463  ;
  }
  .social-icon a {
    padding: 10px;
  }
  .social-icon a:hover {
    color: #e426ca;
  }
  