* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
}
.nav-wrapper {
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  line-height: 40px;
  background-color: rgb(0 18 15);
  height: 40px;
  color: antiquewhite;
 
  
}
.navbar{
    justify-content: flex-end;
}
.navigation {
  opacity: 0.5;
  overflow: hidden;
  display: flex;
  list-style: none;
  
  
}
  .navigation__item {
    padding: 0 16px;
   
  }
