

.footer{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 10px;
    color: rgb(207, 197, 176); 
     
    .footer-start{
        align-items: center;
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
        }
    }

    .footer-end{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        font-size: 13px;
    }
}
$md-breakpoint: 530px;
@media (max-width: $md-breakpoint) { 
  .footer{
    padding: 15px; 
  .footer-start{
    align-items: baseline;
  }
  }
}