*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 a{
  text-decoration: none;
 }
 
.link{
  text-decoration: none;
  color: #275e52;
  &:hover{
    color: #4d9787;
  }
}

body {
  width: 100%;
  background: #000000;
}

.skill {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 630px;
}

/******************************************/
/* Home Page */
/******************************************/

.heroSection {
  display: flex;
  position: relative;
  justify-content: center;
  top: 109px;
  padding: 50px;
  
  video{ 
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; 
  z-index: -1;
  }
  
  .heroSection-content{
    position: relative;
    z-index: 1; 
    text-align: center; 
    padding: 20px;
     .content{
      h1{
     font-size: 35px;
     color: aliceblue;
      }
      h2{
     font-size: 30px;
     color: rgb(12, 112, 107);
      }
      p{
        font-size: 18px;
        color: #afebe3;
      }
     }
  
  }

}

/******************************************/
/* About Page */
/******************************************/

.about {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  .about-heading {
    font-size: 32px;
    color: #1f9f93;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
  }

  .about-box {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;

    .about-img {
      img {
        height: 400px;
        width: 450px;
        border-radius: 18px;
      }
    }
    .about-content{
      padding: 10px;
      p{
        font-size: 18px;
      color: #afebe3;
      }
    }
  }
}
$md-breakpoint: 768px;
@media (max-width: $md-breakpoint) {
     .about{
      .about-box{
        flex-direction: column;
        .about-img {
          img {
            height: 200px;
            width: 250px;
            border-radius: 9px;
          }
        }
      }
     }
}

/******************************************/
/* skills Page */
/******************************************/
.skill {
  .heading {
    color: #1f9f93;
  }
}
.cardList,
.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card,
.contactCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #26a775;

  z-index: 5;
}
.card-title,
.card-img-top {
  color: #26a775;
}
/******************************************/
/* Project Page */
/******************************************/

.project {
  margin-top: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 630px;
}
.projectList {
  z-index: 5;
}

/******************************************/
/* Testimonials */
/******************************************/
.testimonials{
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  .testimonials-heading{
    font-size: 32px;
    color: #1f9f93;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
  }
  .testimonials-content{
    .mySwiper{
    width: max-width- 1000px;
    display: grid;
    gap: 8px;
    
      .swiper-box{ 
        padding: 8px;
        figure{
          display: grid;
          padding: 8px;
          background-color: rgba(34, 63  , 71  ,  0.45);
          box-shadow: 0px 5px 10px rgba(53 ,  119 ,  119  , 0.25);
      
          img{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            margin: auto;
            
          }
           .swiper-content{
        
          padding-top: 8px;
          margin-top: 8px;
          text-align: center;
          blockquote{
            margin: auto;
            font-size: 18px;
            color: #afebe3;
            p{
              margin: auto;
            }
          }
          figcaption{
            font-size: 15px;
            color: #6b8683;
          }
        }
        }
       
      }
    }
  }
}






/******************************************/
/* Resume Page */
/******************************************/

.resume {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    color: #1f9f93;
  }

  Button {
    background-color: #113f3a;

    &:hover {
      background-color: #35a799;
    }
  }
}

/****************************************************************/
@media (max-width: 530px) {
  .box-area {
    height: 1000px;
  }
  .contact,
  .skill,
  .project {
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .skill {
    top: -41px;
    height: 900px;
  }

  .project {
    top: 40px;
  }
  .navigation {
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 80%;
    justify-content: center;
  }
 
}

@media (max-width: 760px) {
  .project {
    top: 40px;
    flex-direction: column;
    height: 450%;
    overflow: hidden;
    position: relative;
  }
}

