*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(to bottom , #9FA5D5 0% , #E8F5C8 100%);
}

.contact,
.about,
.home,
.skill
 {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 630px;
}
p {
  color: #450d4c;
    font-size: 18px;
    font-weight: 500;
    z-index: 5;
}
.heading {
  color: rgb(2 30 30);
    z-index: 3;
}

/******************************************/
/* Home Page */
/******************************************/
.heading1 {
  color: #1bab68;
    z-index: 5;
}

/******************************************/
/* About Page */
/******************************************/

/******************************************/
/* skills Page */
/******************************************/

.cardList , .projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card  , .contactCard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #26a775;
  
  z-index: 5 ;
  
}
.card-title,
.card-img-top {
  color: rgb(161 198 211);
}
/******************************************/
/* Project Page */
/******************************************/

.project{
  margin-top: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 630px;
}
.projectList{
  z-index: 5 ;
}













/******************************************/
/* Contact Page */
/******************************************/

.contact{
    background-size: 400% 400%;
  background: linear-gradient(to bottom , #9FA5D5 0% , #E8F5C8 100%);
}


.contactCard{
  padding: 10px;
  border-radius: 15px;
 
}
.form {
  display: flex;
  flex-direction: column;
}
.form input,
.form textarea {
  color: #26a775;
  border: 1px solid #062e1f;
  border-radius: 3px;
  background: rgb(1, 12, 15);
  margin: 5px 0;
}

.form button {
  color: #26a775;
  border: 1px solid #26a775;
  background: rgb(1, 12, 15);
  font-size: 20px;
  font-weight: 500;
  width: 65px;

  border-radius: 6px;
  height: 41px;
}
.form button:hover {
  background-color: #042829;
  color: #819fa5;
}
.social-icon,
.social-icon a {
  z-index: 5 ;
  margin: 10px;
  padding: 5px;
 color:  #581b9b  ;
}
.social-icon a {
  padding: 10px;
}
.social-icon a:hover {
  color: #0ba5cc;
}

.animation-area {
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
  border-radius: 23px;
	width: 25px;
	height: 25px;
	background: rgb(69 86 98 / 75%);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}




/****************************************************************/
@media (max-width: 530px) {


  .box-area  {
    height: 1000px;
  }
  .contact,
  .skill ,
  .home , .about , 
  .project
   {
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
   .home , .about{
    height: 100vh;
   }
   .about{
    top: -39px;
   }
   .skill{
    top: -41px;
    height: 900px;
   }
  .contact {
     top: 11px;
  }
  .project{
    top: 40px;
  }
  .navigation {
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 80%;
    justify-content: center;
  }
  .social-icon a {
    padding: 10px;
  }
}

@media (max-width: 760px){
  .project{
    top: 40px;
    flex-direction: column;
    height: 450%;
    overflow: hidden;
    position: relative;
  }
}
