
* , *::after,*::before{
  margin : 0 ; 
  padding: 0;
  box-sizing: border-box;
 
}

body{
  width: 100%;
 
  background: linear-gradient(-45deg , #095d6a ,#111816 ,#041e30 ,#000000 ); 
   height: 100vh;
  animation: gradient 15s ease infinite;
  }
   
    @keyframes gradient {
      0% {
        background-position : 0%  50%;
      }
      50% {
        background-position : 100%  50%;
      }
      100% {
        background-position : 0%  50%;
      }
      
    }

.contact  , .about , .home ,.skill{
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   height: 630px;  
   
}
 p {
  color: #ee7752;
}
.heading{
  color: #f1f1f1;
}


/******************************************/
/* Home Page */
/******************************************/
.heading1{
  color: #ee7752;
}
.navigation__item a {
  text-decoration: none;
  font-size: 1rem;
  color: #f1f1f1;
}


/******************************************/
/* About Page */
/******************************************/

/******************************************/
/* skills Page */
/******************************************/

.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
    align-items: center;
    justify-content: center;
 margin: 10px;
 color: #26a775;
 border: 1px solid #26a775;
 
 background: rgb(1, 12, 15);
}
.card-title , .card-img-top{
  color: rgb(161 198 211);
}


/******************************************/
/* Contact Page */
/******************************************/

 .form{
display: flex;
flex-direction: column;

  
} 
.form input , .form textarea {
  color: #26a775;
  border: 1px solid #26a775;
  border-radius: 3px;
  background: rgb(1, 12, 15);
  margin: 5px 0;
}

.form button {
  color: #26a775;
  border: 1px solid #26a775;
  background: rgb(1, 12, 15);
    font-size: 20px;
    font-weight: 500;
    width: 65px;
    
    border-radius: 6px;
    height: 41px;
}
.form button:hover {
  background-color: #042829;
  color: #819fa5;
}
.social-icon ,.social-icon a   {
  margin: 10px;
  padding: 5px;
}

.social-icon a img{
  border-radius: 22px;
   height: 50px;
  width: 50px; 
}
@media (max-width: 530px){

  .contact  , .about , .home ,.skill {

      top: 89px;
      flex-direction: column;
      height: 450%;
      overflow: hidden;
      position: relative;
  }
 .navigation {
  justify-content: center;
  align-items: center;
 }
 .form {
    width: 80%;
    justify-content: center;
 }
 .social-icon a{
  padding:10px;
 }

 
}

 
